#emaill
{
    color:red;
}
#usernamee
{
    color:red;
}
#firstnamee
{
    color:red;
}
#lastnamee
{
    color:red;
}
#passwordd
{
    color:red;
}
#cpassword
{
    color:red;
}
#countryy
{
    color:red;
}
#cityy
{
    color:red;
}
#areaa
{
    color:red;
}
#postalcodee
{
    color:red;
}
#positionn
{
    color:red;
}